.login--image {
    height: 100%;
    background-image: url("../assets/signImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    z-index: 0;

}


.big {
    background-color: #1c1c1c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    opacity: .5;


}


.form--container {

    /* Frame 8 */
    z-index: 1041;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 55px;
    gap: 29px;

    width: 437px;
    height: 409px;

    background: rgba(255, 255, 255, 0.25);
    /* background-color: #594a2ea3; */

    box-shadow: 9px 9px 4px rgba(157, 132, 92, 0.31);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;



}

.form--items {
    height: 100%;
    width: 100%;


}

.form--items>h6 {

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    color: #ffffff;
    text-align: center;
}

.form--items>form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
}

.form--items>form>input {
    border-radius: 10px;
    width: 17rem;
    padding: 1rem;
}

.form--items>form>button{
    height: 2.5rem; 
    width: 7rem;
    background-color: #6F5323;
    color: white;
}

.RAK--logo {
    position: absolute;
    bottom: 50px;
    right: 30px;
    z-index: 0;
}

.takefromme {

    /* SIGN IN */

    width: 153px;
    height: 59px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    color: #6F5323;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


    /* Input Fields */

    width: 327px;
    height: 60px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;






    /* Key Field */

    position: absolute;
    width: 37px;
    left: 16px;
    top: 21.67%;
    bottom: 53.33%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #323941;

    opacity: 0.8;


    /* Value Main */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    visibility: hidden;
    width: 79px;
    height: 28px;
    left: 17px;
    top: 26px;



    /* Input Fields */

    width: 327px;
    height: 57px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;


    /* Error Message */

    position: absolute;
    width: 37px;
    left: 0px;
    top: 38.33%;
    bottom: 35.35%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #E71010;

    opacity: 0.8;


    /* Box */

    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border: 1px solid #D5D8DE;
    border-radius: 4px;


    /* Key Field */

    position: absolute;
    width: 58px;
    left: 16px;
    top: 21.67%;
    bottom: 52.02%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #323941;

    opacity: 0.8;


    /* Value Main */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    visibility: hidden;
    width: 79px;
    height: 28px;
    left: 17px;
    top: 26px;



    /* Group 83 */

    width: 102px;
    height: 54px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;


    /* Rectangle 24 */

    position: absolute;
    width: 102px;
    height: 54px;
    left: 167.5px;
    top: 309px;

    background: #6F5323;
    border-radius: 6px;


    /* Sign In */

    position: absolute;
    width: 81.39px;
    height: 26.31px;
    left: 177.8px;
    top: 322.85px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    /* Backgrounds/Primary */
    color: #FFFFFF;


}