.display--users {

    height: 90%;
    background-color: #F3F1EA;
    border-radius: 15px;
    margin-top: 14px;
    margin-bottom: 64px;

    min-width: 680px;


}


.users--holder {
    overflow-y: scroll;
    /* margin: 1rem; */
    padding: 1rem;
    height: 80%;

}

.user--container {

    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;
    margin-top: 1rem;

    /* Rectangle 67 */
    /* 
    background: #E6E6F2; */
    border-bottom: 2px solid #D9D5EC;
    padding: 0 2rem;

}
.user--container>a {
    width: 100%;
}


.info--container {
    display: flex;
    min-width: 100%;
    gap: 2rem;
}

.info--container:hover {
    background-color: #D9D5EC;
}


.user--container>input[type="checkbox" i] {
    margin-left: auto;
}

.user--info {

    height: 100%;
    width: 100%;

    display: flex; 
    flex-direction: column;
    gap: 0.32rem;
    justify-content: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.05em;

    /* Fonts/Primary Variant */
    color: #6E6893;

}

.user--info>h6 {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* Fonts/Primary */
    color: #25213B;



}
