.display--users {

    height: 90%;
    background-color: #F3F1EA;
    margin-top: 14px;
    margin-bottom: 64px;

    min-width: 680px;


}


.users--holder {
    overflow-y: scroll;
    /* margin: 1rem; */
    padding: 1rem;
    height: 80%;

}

.user--container {

    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;

    /* Rectangle 67 */
    /* 
    background: #E6E6F2; */
    border-bottom: 2px solid #D9D5EC;
    padding: 0 2rem;

}

.info--container{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.info--container:hover{
    background-color: #D9D5EC;
}


.user--container>input[type="checkbox" i]{
    margin-left: auto;
}