* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  height: 100%;
}

html {
  box-sizing: border-box;

}

html,
body {
  background-color: #F3F1EA;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* #root {
  display: flex;
  height: 100%;
  width: 100%;
} */

/* #sidebar {
  width: 22rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
} */


.green {

  background-color: #CDFFCD;
  color: #007F00;
}

.red {
  background-color: #FFE0E0;
  color: #D30000;
}

.blue {
  background-color: #E6E6F2;
  color: #4A4AFF;

}
.gray{
  background-color: #d3d3d3;
  color: #767676;
}