* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
}

#error-page>h1 {
  /* OOPS! */


  /* font-family: 'Poppins'; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 22px;
  /* or 55% */
  letter-spacing: 0.01em;

  /* gray */
  color: #696969;
  -webkit-text-stroke: 1px black;
  /* border: 1px solid #000000; */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;

}

#error-page>p {
  /* type error */

  margin-top: 1rem;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  /* or 110% */
  letter-spacing: 0.01em;

  /* gray */
  color: #696969;

  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}


#error-page>img {

  margin-top: 2rem;
  height: 217px;
  width: 217px;

}


#root {
  height: 100%;
}

html {
  box-sizing: border-box;

}

html,
body {
  background-color: #F3F1EA;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* #root {
  display: flex;
  height: 100%;
  width: 100%;
} */

/* #sidebar {
  width: 22rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
} */


.green {

  background-color: #CDFFCD;
  color: #007F00;
}

.red {
  background-color: #FFE0E0;
  color: #D30000;
}

.blue {
  background-color: #E6E6F2;
  color: #4A4AFF;

}

.gray {
  background-color: #d3d3d3;
  color: #767676;
}